/* Navbar */
@import 'bootstrap/dist/css/bootstrap.min.css';




                                    /* ALL APP */

a {
   text-decoration: none;
}
.topNav {
    background-color: black;
    text-align: center;
    color: white;
    padding: 5px 0 5px 0;
    
}



                                /* Navigation */




                                 /* Home page */






                                 /* Contact page */



                                    /* Cart page */
